$font: 'Public Sans',sans-serif;

// font sizes
// 14px
$font-sm: 0.875rem;
// 18px
$font-med: 1.125rem;
// 24px
$font-large:1.5rem;
// 37px
$font-xlarge: 2.3125rem;
//52px
$font-xxlarge:3.25rem;



// font weights
// 300
$weight-sm: 300;

// 400
$weight-med: 400;

// 700
$weight-bold:700;